<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/meta'); %>

</head>

<body>

    <% homeworks.forEach(function(homework) { %>
        <div class="border border-primary p-3 mt-5 mb-2 ms-5 me-5">
            <h3><%= homework.title %></h3>
            <div><b>Topic: </b><%= homework.topic %></div>
            <div><b>Opened: </b><%= homework.opened %></div>
            <div><b>Due: </b><%= homework.due %></div>
            <div><b>Attribute: <i><%= homework.attribute %></i></b></div>
            <button class="btn btn-primary"><a href= <%= homework.submitButton %>>Add submission</a></button>
        </div>

      <% }); %>

    <%- include('../partials/footer'); %>

    <script>
        //according to loftblog tut
        $('.nav li:first').addHomework('active');
  
        var showSection = function showSection(section, isAnimate) {
          var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;
  
          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos
            },
              800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }
  
        };
  
        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
              $this = $(this),
              topEdge = $this.offset().top - 80,
              bottomEdge = topEdge + $this.height(),
              wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
                currentId = $this.data('section'),
                reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addHomework('active').
                siblings().removeHomework('active');
            }
          });
        };
  
        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });
  
        $(window).scroll(function () {
          checkSection();
        });
      </script>
    
</body>

</html>
