<section class="meetings-page" id="meetings">
</title>
    <div class="container">
      <div class="row">
      <% if (typeof coursesName != 'undefined') { %>
        <div class="text-center text-white fs-2 fw-bold text-uppercase mb-5"><%= coursesName %></div>
      <% }%>

        <div class="col-lg-12">
          <div class="row grid">
            <% courses.forEach(function(course) { %>
              <div class="col-lg-4 templatemo-item-col all <%= course.tag %> ">
                <div class="meeting-item">
                  <div class="thumb">
                    <div class="price"><span>$<%= course.price %></span></div>
                    <a href=<%=course.link %> ><img src=<%=course.imageLink %> alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date"><h6><%= course.month %> <span><%= course.startDate.getDate() %></span></h6></div>
                    <a href=<%=course.link %> ><h4><%= course.courseName %></h4></a>
                    <p><%= course.courseDesc %></p>
                    <p><b><%= course.formattedStartTime %> - <%= course.formattedEndTime %></b></p>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>