<!DOCTYPE html>
<html lang="en">

<%- include('../partials/meta'); %>

<body>

  <%- include('../partials/header'); %>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <img src="/assets/images/single-meeting.jpg" alt="">
                </div>
                <div class="down-content">
                  <a class="text-black" href="#"><h2><%= course.courseName %></h2> </a>
                  <p class="description"><%= course.courseDesc %></p>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="hours">
                        <h5>Thời gian dạy</h5>
                        <p><b>Bắt đầu:  </b><%= course.startDate.toString() %></p>
                        <p><b>Bắt đầu:  </b><%= course.formattedStartTime %></p>
                        <p><b>Kết thúc: </b><%= course.formattedEndTime %></p>
                        <p><b>ID phòng học: </b><%= course.roomID %></p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="book now">
                        <h5>Giáo Viên</h5>
                        <p><b>Tên: </b> <%= teacher.firstName %> <%= teacher.lastName %> </p>
                        <p><b>Email: </b> <%= teacher.email %> </p>
                        <p><b>Phone: </b> <%= teacher.phoneNumber %> </p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="main-button-red mt-5 d-flex justify-content-around border-top">
                        <% if (isOwner) { %>
                          <a href="/video-call?roomId=<%= course.roomID %>">Vào phòng học</a>
                          <a href="/courses/edit/<%= course.courseID %>">Sửa khóa học</a>
                          <a href="/courses/delete/<%= course.courseID %>">Xóa khóa học</a>
                        <% } %>
                        <% if (loggedIn && !user.isTeacher) { %>
                          <% if (isInCourse) { %>
                            <a href="/courses/leave/<%= course.courseID %>">Rời khỏi khóa học</a>
                            <a href="/video-call?roomId=<%= course.roomID %>">Vào phòng học</a>
                          <% } else { %>
                            <a href="/courses/participate/<%= course.courseID %>">Tham gia khóa học</a>
                          <% } %>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partials/footer'); %>

  </body>

</html>